@font-face {
    font-family: 'TBI';
    src: url(../fonts/Trebuchet-BoldItalic.woff);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'TBI';
    src: url(../fonts/Trebuchet-BoldItalic.woff);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'TBI';
    src: url(../fonts/Trebuchet-BoldItalic.woff);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'TBI';
    src: url(../fonts/Trebuchet-BoldItalic.woff);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'TBI';
    src: url(../fonts/Trebuchet-BoldItalic.woff);
    font-weight: 700;
    font-style: italic;
}